<body>
<h1>WAVE Trophy App</h1>
<h3>Download</h3>
<a class="mu-apple-btn" href="https://itunes.apple.com/us/app/wavetrophy/id1436640280" target="_blank">
    <i class="fa fa-apple"></i><span>apple store</span>
</a>
<br>
<a class="mu-google-btn" href="https://play.google.com/store/apps/details?id=com.wavetrophy.app" target="_blank">
    <i class="fa fa-android"></i><span>google play</span>
</a>
</body>